*{ box-sizing:border-box}
body{
    background: black;}
.card{
    width:450px; margin: 100px auto; background:white;
     padding-bottom:50px
}
.Titulo{
    display:flex;
}
h1{
    
    width:4000px;
    padding-left:10px;
    font-family:cursive;
    font-weight:5;
}
.Titulo img{
    height:75px;
    float:right;
    padding-top:10px;
    padding-right:10px;
    width:700px
}
input{
    display:flex;
    float:right;
    border-top:none;
    border-left:none;
    border-right:none;
    width: 200px;
    border-width:2px;
    border-color:#c0c0c0e3
}
.contenedor_principal{
    display:flex;
}
.boton{
  text-align:center;
}
button{
    height:25px;
    border-top:none;
    border-left:none;
    border-right:none;
    border-width:25px;
    border-color:#8080801c;
    background:#8080809c;
    font-family:cursive;
}
.Contenido_derecho{
    padding-left:10px;
    padding-top:0px;
    font-weight:5;
    transform:skew(-2deg);
    
}
.contenido_izquierdo{
    padding-left:35px;
    padding-top:15px;
    font-size:22px;
    font-family:cursive;
    
}

