body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
	align-items: top;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header text {
	width: 100px;
	height: 50px;
}
